<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="unititled">
	<meta name="keywords" content="CAN.it: IrishHacks 2019">
	<meta name="author" content="AJ Jimenez, Alden Kane, Phil Vlandis">
	<link rel="shortcut icon" href="favicon.ico">
	<link href="static/css/bootstrap.css" rel="stylesheet">
	<title> CAN.it: IrishHacks 2019</title>

	<!-- Import Static Assets -->
	<link href="static/css/bootstrap.min.css" rel="stylesheet">
	<link href="static/css/style.css" rel="stylesheet">

	<!--Fonts-->
	<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
	<link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800' rel='stylesheet' type='text/css'>

</head>
<body>
	<!--header-->
	<header class="header">
		<div class="container">
			<div class="row">
				<div class="goal-summary pull-left">
					<div class="funded">
						<h3>CAN.it</h3>
						<span>Automated Recycling</span>
					</div>
					<div class="backers last">
						<h3>3,824</h3>
						<span>kg Plastic Saved</span>
					</div>
					<div class="reminder last">
						<a href="https://www.volunteermatch.org/search?l=USA&k=Environment"><i class="fa fa-star"></i>Volunteer</a>
						<span></span>
					</div>
				</div>
				<div class="pull-right">
					<div class="reminder last">
						<img src="static/img/IrishHacks_Logo.png" width="100" height="100" class="profile-image img responsive pull-right">
					</div>
				</div>
			</div>
		</div>
	</header>
	<!--/header-->

	<!--main content-->
	<div class="main-content">
		<div class="container">
			<div class="row">
				<div class="content col-md-8 col-sm-12 col-xs-12">
					<div class="section-block">
						<div class="funding-meta">
							<h1>CAN.it RIC Classifier</h1>
							<!--Video Feed Below This-->
							<div class="video-frame">
								<img src="{{ url_for('video_feed') }}" width="650" height="365" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
							</div>
							<p>CAN.it: An automated Resin Identification Code classifier. This utility classifies plastics based on their chemical compisiton, which is denoted in by their RIC code (#'s 1-7).</p>
							<p>CAN.it is best suited for use in industrial settings. When integrated with a controls system to handle the plastics, can perform automated sorting of plastics. This will increase recycling accuracy. It can also be used in commercial and residential settings, as hardware stations set up in proximity to trash/recycling cans. For more information on RIC codes and recycling, consult the <a href=https://www.epa.gov/recycle/how-do-i-recycle-common-recyclables> US EPA</a> or your local recycling program.</p>
						</div>
					</div>
				</div>
				<!--/tabs-->
				<!--/main content-->
				<!--sidebar-->
				<div class="content col-md-4 col-sm-12 col-xs-12">
					<div class="section-block summary" id="color_box">
						<h4>RIC #: &nbsp</h4>
						<h5 id="code" style="text-align:right"></h5>
						<h4>Type: &nbsp</h4>
						<h5 id="type" style="text-align:right"></h5>
						<h4>Abbreviation: &nbsp</h4>
						<h5 id="name" style="text-align:right"></h5>
						<h4>Recycling Status: &nbsp</h4>
						<h5 id="can" style="text-align:right"></h5>
					</div>
					<!--credits-->
					<div class="section-block">
						<h1 class="section-title">CREDITS + CONTACT</h1>
						<!--credits block-->
						<div class="credit-block sources">
							<ul class="list-unstyled">
								<li><a href="http://getbootstrap.com/"><i class="fa fa-external-link"></i>Bootstrap</a></li>
								<li><a href="https://opencv.org"><i class="fa fa-external-link"></i>openCV</a></li>
								<li><a href="https://springml.com/blog/streaming-ocr-vision-api/"><i class="fa fa-external-link"></i>Google Cloud Vision Tutorial</a></li>
								<li><a href="http://fortawesome.github.io/Font-Awesome/"><i class="fa fa-external-link"></i>FontAwesome</a></li>
								<li><a href="https://www.google.com/fonts"><i class="fa fa-external-link"></i>Google Fonts</a></li>
								<li><a href="http://jquery.com/"><i class="fa fa-external-link"></i>jQuery</a></li>
								<li><a href="https://github.com/aldenkane/IrishHacks2019"><i class="fa fa-external-link"></i>Project GitHub Repo</a></li>
								<li><a href="https://www.linkedin.com/in/angel-jimenez-22206913b/"><i class="fa fa-external-link"></i>AJ Jimenez LinkedIn</a></li>
								<li><a href="https://www.linkedin.com/in/alden-kane-a46265111/"><i class="fa fa-external-link"></i>Alden Kane LinkedIn</a></li>
								<li><a href="https://www.linkedin.com/in/philip-vlandis-86635816b/"><i class="fa fa-external-link"></i>Phil Vlandis LinkedIn</a></li>

							</ul>
						</div>
						<!--/credits block-->
					</div>
					<!--/credits-->
				</div>
				<!--/sidebar-->
			</div>
		</div>
	</div>
	<footer class="footer">
	<div class="container">
			<div class="row">
				<!--This template has been created under the Creative Commons Attribution 3.0 License. Please keep the attribution link below when using this template in your own project, thank you.-->
				<span class="copyright">Project by Angel Jimenez, Alden Kane, and Phil Vlandis for IrishHacks 2019. HTML/CSS adopted from <a href="http://themes.audaindesigns.com" target="_blank">Audain Designs</a>. See README for other citations.</span>
			</div>
		</div>
	</footer>

	<!-- Global jQuery -->
	<script type="text/javascript" src="static/js/jquery-1.12.3.min.js"></script>
	<script type="text/javascript" src="static/js/bootstrap.min.js"></script>

	<!-- Template JS and Scripts to Work Faster -->
	<script type="text/javascript" src="static/js/main.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!--Scripting by P. Vlandis-->
  <script type="text/javascript">
			//Debug
      // console.log("entered here")
      function set_val() {
      $.ajax({
      url:'/get_value',
      type: 'get',
      success: function(response) {
              console.log(response);
              response= JSON.parse(response);

			//Sorting for Color Tuning, Feature Tuning in Top-Level
			if(response['code']!='0') {
        document.getElementById("code").innerHTML=response['code'];
				document.getElementById("name").innerHTML=response['name'];
				document.getElementById("type").innerHTML=response['type'];
				document.getElementById("can").innerHTML=response['can'];

				if (response['code']=='1' || response['code']=='2'){
					//Green
					//document.getElementById("color_box").style.backgroundColor=rgb(155, 221, 173);
					document.getElementById("color_box").style.backgroundColor="#9bddad";
				}
				else if (response['code']=='3'){
					//Red
					document.getElementById("color_box").style.backgroundColor="#df508c";
				}
				else {
					//Yellow
					document.getElementById("color_box").style.backgroundColor="#fcd731";
				}
			}
                }
          });
          };
          $(document).ready(function() {
                  setInterval(set_val,100);
                  console.log("******");
          });
  </script>


</body>
</html>
